COMPOSE_USER_ID=1000
COMPOSE_GROUP_ID=1000
ANTHROPIC_API_KEY=
# Login password for database user analyst
ANALYST_PASSWORD=
# Named docker volume to be mounted on the PostgreSQL server
POSTGRESQL_DATA_VOLUME=
